body{
/*margin: 0;
padding:0;*/
background-color: #333;
}
.title__clients{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: tahoma;
	letter-spacing: .5px;
	word-spacing: .5px;
	padding-top: .1em;
	margin-bottom:.5em;
	text-decoration-line: underline;
	color: #ddd;
}
 .table__container{
 	border: 2px solid #ddd;
 	 display:  flex;
 	  justify-content: space-around;
 	  align-items: space-around;
 	  flex-direction: column;
 	 overflow-x: scroll;
 	 overflow-y: scroll;
 }
 .row__table{
 	display:  inline-flex;
 	justify-content: space-around;
 	width:97vw;
 	padding: .5em;
 
 	border-bottom: 2px solid #bbb;

 }
 .row__names{
 	border-right: 2px solid #bbb;
 	padding-right: .8em;
 	padding-left: .8em;
 	font-size: 1.3em;
 	font-family: sans-serif;
 }


.table__column{
	display:  flex;
	justify-content: space-around;
	transition: .3s;
}
.table__column:hover{
	background-color: #eee;
	opacity: .8;
	transition: .3s;
	color:orangered;
}

.column__names{
	
 	padding-bottom: .8em;
 	padding-top: .8em;
 	font-size: 18px;
 	font-family: verdana;
	text-transform: capitalize;
}
.form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding:.5em;
 
}
.form__inputs{
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: inherit;
	border-radius: 10px;
	padding:.5em;
}
.form input{
	margin: .8em;
	padding:.5em;
	border-radius: 10px;
	border: 1px solid #ddd;
	border-color: #ddd;
	color: #222;
	font-size: 1.2em;
	text-align: center;
}

.addClient{
	width: 170px;
	padding:.5em;
	margin:.5em;
	border: 0;
	background-color: #222;
	color: white;
	font-family: sans-serif;
	font-size: 18px;
	border-radius: 10px;
	transition: .5s;
}
.addClient:hover{
	opacity: .8;
	transition: .3s;
}
.addClient:active{
	transform: scale(.9);
}


.separator{
	display: block;
	width: 100%;
	background-color: #eee;
	color:#eee;
	box-shadow: 0px 0px 10px #bbb;

}


.count__client{
	background-color: #222;
	max-width: 40%;
	color:#ddd;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	padding:.3em;
	border-radius: 10px;
}

.ovl{
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	padding: .3em;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(0);
	transition:  2s;
}
.deletes-blue{
	background-color: blue;
	border: 0;
	color: white;
	font-weight: 600;
	letter-spacing: .8px;
	margin:.3em;
	padding: .3em;
	font-family: sans-serif;
	transition: .6s;
}
.deletes-blue:hover{
	background-color: purple;
	transition:  .4s;
}
.cancel-blue{
	font-family: sans-serif;
	background-color: red;
	border: 0;
	color: white;
	font-weight: 600;
	letter-spacing: .8px;
	margin:.3em;
	padding: .3em;
	transition:   .6s;
}
.cancel-blue:hover{
	opacity: .7;
	transition:   .4s;
}
.trans{
	transform: translateY(-400px);
	transition: 5s;
}
.row__names{
	color: #ddd;
}
.column__names{
	color: #ddd;
}
